[submodule "netflix"]
	path = netflix
	url = git@github.com:clarksoncj/.dotfiles-netflix.git
[submodule "personal"]
	path = personal
	url = git@github.com:clarksoncj/.dotfiles-personal.git
[submodule "tree-sitter/.config/tree-sitter/tree-sitter-lua"]
	path = tree-sitter/.config/tree-sitter/tree-sitter-lua
	url = git@github.com:Azganoth/tree-sitter-lua.git
