[submodule "tree-sitter/.config/tree-sitter/tree-sitter-lua"]
	path = tree-sitter/.config/tree-sitter/tree-sitter-lua
	url = git@github.com:Azganoth/tree-sitter-lua.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com/roachme/nvim
